<form class="form-signin" [formGroup]="form">
    <h1 class="h3 mb-3 font-weight-normal">Let's change your password.</h1>
    <div class="form-group  d-flex">
        <input class="form-control" id="frmPassword" type="password" placeholder="New Password"
            formControlName="password" autocomplete="new-password">
    </div>
    <button class="btn btn-lg btn-success btn-block" (click)="onSubmit()" [disabled]="!form.valid">
        <ng-container [ngSwitch]="loading">
            <fa-duotone-icon *ngSwitchCase="true" [icon]="['fad', 'spinner']" [fixedWidth]="true" [pulse]="true">
            </fa-duotone-icon>
            <fa-icon *ngSwitchDefault [icon]="['fal', 'sign-in']" [fixedWidth]="true"></fa-icon>
        </ng-container>
        Change Password And Login
    </button>
</form>