<ng-container *ngIf="Reel$ | async as Reel">
  <h1 class="page-header">{{ Reel.Name }}</h1>
  <div class="d-block pt-2 background-color-white">
    <div class="row">
      <div class="col-md-9">
        <ng-container *ngTemplateOutlet="dataTable"></ng-container>
      </div>
      <div class="col-md-3">
        <ng-container *ngTemplateOutlet="editTools"></ng-container>
      </div>
    </div>
  </div>

  <ng-template #editTools>
    <div class="card tools-card">
      <div class="card-body">
        <h5 class="card-title">Actions</h5>
        <div class="d-flex flex-column">
          <button type="button" class="btn btn-outline-primary">
            <fa-icon
              [icon]="['far', 'arrow-to-bottom']"
              [fixedWidth]="true"
            ></fa-icon>
            Produce
          </button>

          <button
            [disabled]="ReelUpdating$ | async"
            (click)="EditReel()"
            type="button"
            class="mt-1 btn btn-outline-success"
          >
            <ng-container [ngSwitch]="ReelUpdating$ | async">
              <fa-icon
                *ngSwitchCase="false"
                [icon]="['far', 'pencil']"
                [fixedWidth]="true"
              ></fa-icon>
              <fa-duotone-icon
                *ngSwitchCase="true"
                [icon]="['fad', 'spinner']"
                [fixedWidth]="true"
                [pulse]="true"
              >
              </fa-duotone-icon>
            </ng-container>
            Edit
          </button>

          <button
            [disabled]="ReelDeleting$ | async"
            (click)="DeleteReel()"
            type="button"
            class="mt-1 btn btn-outline-danger"
          >
            <ng-container [ngSwitch]="ReelDeleting$ | async">
              <fa-icon
                *ngSwitchCase="false"
                [icon]="['far', 'trash']"
                [fixedWidth]="false"
              ></fa-icon>
              <fa-duotone-icon
                *ngSwitchCase="true"
                [icon]="['fad', 'spinner']"
                [fixedWidth]="true"
                [pulse]="true"
              >
              </fa-duotone-icon>
            </ng-container>

            Delete
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #dataTable>
    <div class="ml-1 card">
      <div class="card-body">
        <div class="d-flex flex-column">
          <div class="reel-details">
            <h6>Name</h6>
            <span>{{ Reel.Name }}</span>
          </div>

          <div class="reel-details">
            <h6>Notes</h6>
            <span>{{ Reel.Notes }}</span>
          </div>

          <div class="reel-details">
            <h6>Status</h6>
            <span>{{ Reel.Status }}</span>
          </div>

          <mat-accordion class="snippets">
            <mat-expansion-panel *ngFor="let snippet of Reel.Snippets">
              <mat-expansion-panel-header>
                <mat-panel-title> {{ snippet.Title }} </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="mt-2">{{ snippet.SnippetMetadata?.Text }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
