<ul class="list-group">
  <li class="list-group-item" *ngFor="let reel of Reels">
    <div class="d-flex justify-content-center align-items-center">
      <ng-content *ngTemplateOutlet="tplIconCol"></ng-content>
      <ng-content *ngTemplateOutlet="tplBodyCol"></ng-content>
      <ng-content *ngTemplateOutlet="tplToolsCol"></ng-content>
    </div>

    <ng-template #tplIconCol>
      <fa-duotone-icon
        [icon]="['fad', 'film']"
        [fixedWidth]="true"
        [size]="'2x'"
      ></fa-duotone-icon>
    </ng-template>

    <ng-template #tplBodyCol>
      <div class="d-flex mt-2 ml-2 flex-column">
        <a [routerLink]="'/dashboard/reels/' + reel.ReelId">
          <h4 class="color-tp-header">
            <span>{{ reel.Name }}</span>
          </h4>
        </a>
        <span class="notes">{{ reel.Notes }}</span>
        <div class="d-flex">
          <div class="color-warning-dk">
            <fa-duotone-icon
              [icon]="['fad', 'check-circle']"
              [fixedWidth]="true"
              secondaryColor="rgb(143,115,5)"
              primaryColor="ghostwhite"
            >
            </fa-duotone-icon>
            {{ reel.Status }}
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #tplToolsCol>
      <div class="ml-auto d-flex flex-column">
        <div class="d-flex flex-column">
          <button type="button" class="btn btn-outline-primary">
            <fa-icon
              [icon]="['far', 'arrow-to-bottom']"
              [fixedWidth]="true"
            ></fa-icon>
            Produce
          </button>
          <button
            [disabled]="ReelUpdating"
            (click)="editReel.emit({ ReelId: reel.ReelId })"
            type="button"
            class="mt-1 btn btn-outline-success"
          >
            <ng-container [ngSwitch]="ReelUpdating">
              <fa-icon
                *ngSwitchCase="false"
                [icon]="['far', 'pencil']"
                [fixedWidth]="true"
              ></fa-icon>
              <fa-duotone-icon
                *ngSwitchCase="true"
                [icon]="['fad', 'spinner']"
                [fixedWidth]="true"
                [pulse]="true"
              >
              </fa-duotone-icon>
            </ng-container>

            Edit
          </button>

          <button
            [disabled]="ReelDeleting"
            (click)="deleteReel.emit({ ReelId: reel.ReelId })"
            type="button"
            class="mt-1 btn btn-outline-danger"
          >
            <ng-container [ngSwitch]="ReelDeleting">
              <fa-icon [icon]="['far', 'trash']" [fixedWidth]="true"></fa-icon>
              <fa-duotone-icon
                *ngSwitchCase="true"
                [icon]="['fad', 'spinner']"
                [fixedWidth]="true"
                [pulse]="true"
              >
              </fa-duotone-icon>
            </ng-container>

            Delete
          </button>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
