@import "styles";

.drop-zone {
  margin: 8px;
  padding: 16px;
  border: 2px dashed $clr-blue-1;
  border-radius: 8px;
  background-color: $clr-blue-2;
}

.item-columns {
  div {
    margin: 0 16px 0 16px;
    &:first-child {
      margin-left: 0;
    }
    &::last-child {
      margin-right: 0;
      flex-grow: 1;
    }
  }
}
